/**
 * Author: @Manuel G. Sintos
 * Date: Nov 27, 2023, 1:11 PM
 *
 */

/* Media query for smaller screens */
@media only screen and (max-width: 560px) {
  body {
    margin: 6.5% 0 40% 0;
  }
  * {
    font-size: 17px;
  }
  .header {
    height: 66px;
  }
  .footer {
    height: 70px;
  }
  .side_nav {
    display: none;
  }
  .content {
    width: auto;
    margin: 16% 0 -23% 0;
    padding: 25px;
  }
  .instruction_con {
    width: auto;
  }
  .question_con {
    width: auto;
  }
  .footer .creator {
    margin-top: 2%;
    margin-left: 0;
  }
  .footer center {
    font-size: 10px;
  }

  .create_exam_btn_con {
    margin-top: -2.6%;
  }

  .menu_modal {
    right: -55%;
  }

  .alertDialogCon_DonateMe {
    width: 90%; /* Adjust width to fit smaller screens */
    padding: 10px 10px 6px 10px; /* Adjust padding for smaller screens */
  }
  .donate_me_con {
    margin-left: 0%;
  }
  .donate_me {
    padding: 16px;
    width: 200px;
    margin-left: 11px;
    margin-top: -9px;
  }
  .review_answer, .retake_quiz {
    margin-right: -174px;
    margin-top: -32px;
  }
  .modal-content {
    width: 51%;
  }

  .alertDialogCon {
    width: 17em;
  }

  .question {
    font-size: 17px !important;
  }
  .choices {
    font-size: 17px !important;
  }
  .print_button_con {
    width: auto;
    margin-right: 22px;
  }
  .show_result_con {
    width: auto;
  }


  .prev_question_con {
    width: auto;
  }
  .prev_question {
    font-size: 17px !important;
  }
  .prev_choices {
    font-size: 17px !important;
  }
}
